* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: #000000;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-black {
    background-color: #000000;
}

.app-container {
    /* height: 721px; */
    min-height: 800px;
}

.main-container {
    /* border: 1px solid black; */
    width: 63%;
    margin: 0 auto;
    min-width: 330px;
}

.button {
    padding:5px 10px;
    border-radius:10px;
    border: none;
    background-color: rgb(217, 217, 217);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #d0cece;
}

